body {
    background: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}

.header {
    background-image: url("../img/bkg-header.jpg");
}

.header__menu-button {
    height: 50px;
    width: 50px;
    background: #F7654A;
    border: none;
    padding: 0;
}

.header__menu-button:hover {
    background: #F70A27;
}

.header__menu-button svg {
    fill: white;
    width: 21px;
    height: 18px;
}

.header__menu-button:hover svg {
    fill: gray;
}

.header__title {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 500;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    /*margin-bottom: 35px;*/
    margin: 0 0 35px;
}

.header__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__navigation-page {
    display: none;
    position: absolute;
    background: #FFFFFF;
    right: 0;
    bottom: -30px;
}

.header__menu-button:hover + .header__navigation-page {
    display: block;
}

.header__navigation-page:hover {
    display: block;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}


