/*для декстопа */

body {
    background: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-image: url("../img/bkg-header.jpg");
    padding: 0 0 320px;
    background-size: cover;
}

.header__menu-button {
    height: 50px;
    width: 50px;
    background: #F7654A;
    border: none;
    padding: 0;
    display: none;
}

.header__menu-button:hover {
    background: #F70A27;
}

.header__menu-button svg {
    fill: white;
    width: 21px;
    height: 18px;
}

.header__menu-button:hover svg {
    fill: gray;
}

.header__title {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 500;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    /*margin-bottom: 35px;*/
    margin: 0 0 35px;
}

.list-navigation {
    display: flex;
}

.list-navigation__item {
    margin-left: 20px;
}

.list-navigation__item a {
    color: #FFFFFF;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.list-navigation__item a:hover {
    text-decoration: underline;
}

.header__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
    margin: 0 0 112px;
}


.container {
    max-width: 1110px;
    margin: 0 auto;
}

.age__list {
    display: flex;
    background-color: #F7F7F7;
    padding: 57px 130px;
    justify-content: space-between;
}

.age__item {
    width: 190px;
}

.age {
    margin: -80px 0 0 0;
}

.about {
    text-align: center;
}

.about__number {
    font-size: 72px;
    font-weight: 500;
    line-height: 107px;
    color: #F7654A;
    margin: 0 0 10px;
}

.about__age {
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.about__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #999999;
}

.projects {
    padding: 100px 0 140px;
}

.section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    text-transform: uppercase;
    text-align: center;
}

/*.project__title,*/
/*.goods__title,*/
/*.about__title {*/
/*    font-size: 36px;*/
/*    font-weight: 500;*/
/*    line-height: 53px;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*}*/

.projects__title {
    margin: 0 0 60px;
}

.section-title--gray {
    color: #404149;
}

.projects__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

/*.projects__item {*/
/*    width: 350px;*/
/*}*/

.projects__image {
    margin: 0 0 65px;
}

.projects__title {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.projects__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.we-do__swiper-slide {
    padding: 129px 86px 60px;
    background-color: #F7F7F7;
    box-sizing: border-box;
}

.we-do__title {
    position: relative;
}

.we-do__title:before {
    position: absolute;
    content: '';

    width: 60px;
    height: 40px;
    background-image: url("../img/building.png");

    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

/*для планшета */
@media (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .header {
        padding: 0 0 150px;
    }

    .header__title,
    .about__number {
        font-size: 40px;
        line-height: 50px;
    }

    .header__text,
    .about__age {
        font-size: 13px;
        line-height: 20px;
    }

    .about__text {
        font-size: 13px;
        line-height: 15px;
    }

    .age__list {
        padding: 30px 50px;
    }

    .projects__list {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }

    .projects__image {
        width: 100%;
        display: block;
        height: 380px;
        object-fit: cover;
    }
}

@media (max-width: 650px) {
    .projects__image {
        height: 250px;
        margin-bottom: 25px;
    }
}

/*для мобилки */
@media (max-width: 500px) {

    .header__menu-button {
        display: block;
    }

    .header__navigation-page {
        display: none;
        position: absolute;
        right: 0;
        bottom: -130px;
    }

    .header__menu-button:hover + .header__navigation-page {
        display: block;
    }

    .header__navigation-page:hover {
        display: block;
    }

    .list-navigation {
        background-color: white;
    }

    .list-navigation__item a {
        color: gray;
    }


}
